body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 100%;  
  background-color: #83BDBA;
}


.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #8386BD;
  padding: 130px 125px;
  border-radius: 50px;
}

.headeee {
    background-color: #313C1F;
    padding: 15px;
    border-radius: 30px;
    text-align: center;
}

h1 {
  color: azure;
  font-size: 38px;
}

h2 {
  color: rgb(187, 192, 192);
  font-size: 18px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #eaeaea;
  border-radius: 4px;
  align-items: center;
}

.upload_button{
  display: inline-block;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #eaeaea;
  border-radius: 4px;
  margin: 10px auto;
  align-items: center;

}

.upload-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #313C1F;
  padding: 20px;
  border-radius: 20px;
  margin-top: 10px;
  
}


.upload-form {
  margin-bottom: 20px;
}

.preview-box {
  margin-top: 20px;
}

.preview-box .uploaded-image {
  max-width: 45%;
  height: auto;
  margin: 0 auto 20px;
  display: block;
}


.filter-form button {
  margin: 12px;
  cursor: pointer;
  align-items: center;
}

.download-link,
.back-button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #eaeaea;
  border-radius: 4px;
  margin: 5px auto;
  align-items: center;
}

.saved-image-link {
  display: block;
  margin-top: 10px;
  color: #333;
  text-decoration: none;
}

.processed-image {
  /* height: auto; */
  /* max-width: 50%; */
  margin-top: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.processed-image img {
  max-width: 70%;
  height: auto;
  margin-bottom: 10px;
}

.processed-image h1 {
  color: #fff;
  margin: auto;
}
